/* .navbar-brand span{
    background-color: black !important;
} */
/* span {
    background-color: #212529 !important;   
    cursor: pointer;
} */

.nav-link{
    font-size: 1.15rem !important;
    line-height: 1.5rem !important;
    font-family: 'Bitter', serif;
    /* padding: 10px !important; */
    /* text-decoration: underline 5px solid red; */
}

.nav-link:hover{
    border-bottom: 5px solid #39BBBB;   
}

